
OneTimePad/.vs/OneTimePad/v15/.suo
OneTimePad/.vs/OneTimePad/v15/Server/sqlite3/db.lock
OneTimePad/.vs/OneTimePad/v15/Server/sqlite3/storage.ide-wal
OneTimePad/.vs/OneTimePad/v15/Server/sqlite3/storage.ide-shm
